
button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: azure;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 28px;
}

button:hover{
  background-color: #7bf0a8;

}
.boton-click{
  background-color: mediumaquamarine;
}

.boton-reiniciar{
  background-color:moccasin
}